{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="entry publication-card">

  {% if post.wisdom_number %}

    <div class="publication-number">
      WISDOM {{ post.wisdom_number }}
    </div>

    <header class="entry-header">
      <h3 class="entry-title">
        <a href="{{ post.url | relative_url }}" rel="bookmark">
          {{ post.display_title | default: title }}
        </a>
      </h3>
    </header>

    <div class="publication-meta">
      <p>
        <strong>{{ post.authors_short }}</strong> ({{ post.year }})<br>
        {{ post.journal }} <strong>{{ post.volume }}</strong>, {{ post.publication_ref }}
      </p>
    </div>

  {% else %}

    <header class="entry-header">
      <h3 class="entry-title">
        <a href="{{ post.url | relative_url }}" rel="bookmark">
          {{ title }}
        </a>
      </h3>
    </header>

    <div class="entry-excerpt">
      {% if post.excerpt %}
        {{ post.excerpt | markdownify }}
      {% endif %}
    </div>

  {% endif %}

  <p>
    <a href="{{ post.url | relative_url }}" class="more-link">
      View publication
      <span class="icon icon--arrow-right">
        {% include icon-arrow-right.svg %}
      </span>
    </a>
  </p>

</article>
